/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    font-size: 36px;
}

header{
    background-color: #075A58;
    height: 69px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

header .dropdown{
    display: none;
}

header h2{
    font-size: 36px;
    color: white;
    margin-right: 28px;
}

main h2{
    font-size: 64px;
}

main h3{
    text-align: center;
    color: #075A58;
    font-size: 36px;
    margin-top: 80px;
    margin-bottom: 55px;
    font-weight: 700;
}

main p{
    font-size: 40px;
    font-weight: 600;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: #075A58;
    height: 169px;
    width: 100%;
    overflow: hidden;
    padding: 25px;
    position: static;
}

form {
    display: flex;
    justify-content: center;
}

.navbar-mentz ul{
    display: flex;
    list-style: none;
    text-align: center;
    font-size: 20px;
    align-items: center;
}


.navbar-mentz a{
    text-decoration: none;
    margin: 0 10px;
    padding-right: 65px;
}

.navbar-mentz a:visited{
    color: white;
}

.imagen-con-texto{
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: 345px;
    overflow: hidden;

}


.imagen-con-texto::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../assets/gamer-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    filter: blur(2px);
    z-index: 0;
}

.imagen-con-texto h2, .imagen-con-texto h3{
    max-width: 700px;
    font-size: 64px;
    position: relative;
    z-index: 1;
    margin-left: 65px;
    font-weight: 700;
}

.imagen-con-texto h3{
    font-size: 48px;
    color: white;
    text-align: start;
    margin: 43px 0 0 70px;
}

.imagen-con-texto_catalogo{
    padding: 54px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    color: white;
    height: 345px;
    overflow: hidden;

}
.imagen-con-texto_catalogo h2{
    z-index: 1;
    text-align: start;
}

.imagen-con-texto_catalogo::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../assets/setup-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    filter: blur(5px);
    z-index: 0;
}

.rangos-juegos ul{
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}
.rangos-juegos img{
    width: 220px;
    height: 216px;
}

#rango-silver-cs2{
    width: 200px;
    height: 80px;
}

.presentacion-productos{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.presentacion-productos h2{
    font-size: 48px;
    font-weight: bold;
    color: #075A58;
    text-align: center;
    margin-top: 90px;
}

.presentacion-productos p {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
}

.productos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "imagen-1 imagen-2"
    "texto-1 texto-2";
    justify-items: center;
    gap: 0 250px;
    margin: 40px auto;

}

.productos .item-texto-1{
    grid-area: texto-1;
}

.productos .item-texto-2{
    grid-area: texto-2;
}

.productos .item-imagen-1{
    grid-area: imagen-1;
}

.productos .item-imagen-2{
    grid-area: imagen-2;
    align-self: center;
}
.productos img{
    width: 411px;
    height: auto;
    object-fit: contain;
}


.productos h4{
    margin-bottom: 102px;
}



.btn-primary_custom-class{
    background-color: #075A58;
    border-color: #075A58;
    width: 230px;
}

.btn-primary_custom-class:hover{
    background-color: #097c7a;
    border-color: #075A58;
}

.filtros{
    margin: 35px 0;
}
.primary-filter-button{
    background-color: #075A58;
    border-color: #075A58;
    width: 315px;
    font-size: 24px;
    border-radius: 15px;
    margin-left: 25px;
}

.primary-filter-button:hover{
    background-color: #097c7a;
    border-color: #075A58;
}

.outline-filter-button{
    border-color: #075A58;
    color: #075A58;
    width: 215px;
    font-size: 24px;
    border-radius: 15px;
    margin-left: 25px;
}

.outline-filter-button:hover{
    border-color: #075A58;
    color: white;
    background-color: #075A58;
}

.productos-catalogo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    gap: 0 281px;
    grid-template-areas: 
    "imagen-1 imagen-2 imagen-3"
    "texto-1 texto-2 texto-3"
    "imagen-4 imagen-5 imagen-6"
    "texto-4 texto-5 texto-6";
    margin: 120px 50px;
}

.productos-catalogo img{
    width: 250px;
    height: auto;
}

.productos-catalogo a{
    font-size: 32px;
    color: #075A58;
    font-weight: bold;
    text-decoration: none;
}

.producto-1{
    grid-area: imagen-1;
}

.nombre-producto-1{
    grid-area: texto-1;
}

.producto-2{
    grid-area: imagen-2;
}
.nombre-producto-2{
    grid-area: texto-2;
}

.producto-3{
    grid-area: imagen-3;
}
.nombre-producto-3{
    grid-area: texto-3;
}

.producto-4{
    grid-area: imagen-4;
}
.nombre-producto-4{
    grid-area: texto-4;
}

.producto-5{
    grid-area: imagen-5;
}
.nombre-producto-5{
    grid-area: texto-5;
}

.producto-6{
    grid-area: imagen-6;
}
.nombre-producto-6{
    grid-area: texto-6;
}

.presentacion-equipo{
    display: flex;
    flex-direction: column;
    max-width: 1267px;
    margin: 200px 0 305px 45px;
    margin-top: 200px;
    margin-bottom: 305px;
}

.presentacion-equipo h2{
    color: #075A58;
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 55px;
}

.presentacion-equipo p{
    font-size: 40px;
    margin-bottom: 115px;
}

/* Clases e IDs footer */

.newsletter h3{
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
}

.newsletter input[type=text]{
    font-size: 13px;
    width: 300px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17px;
    color: rgba(0, 0, 0, 0.322);
    border-radius: 5px 0 0 5px;
    border: 0;
}

.newsletter input[type=submit]{
    background-color: #FF8800;
    color: white;
    font-size: 32px;
    font-weight: bold;
    height: 40px;
    width: 40px;
    border: 0;
    border-radius: 0 5px 5px 0;
}

.social-media h3{
    color: white;
    font-size: 20px;
    font-weight: bold;

}

.social-media ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 0;
    
}

.social-media ul li{
    margin-right: 25px;
    
}

.footer-eslogan{
    color: white;
    padding: 20px;
    text-align: left;
}

.footer-eslogan h3{
    font-style: italic;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.footer-eslogan .marca-eslogan{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    flex-wrap: wrap;
}

.footer-eslogan .eslogan{
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    max-width: 250px;
}
.footer-eslogan .copyright{
    font-size: 16px;

}

/* HTML About-us */

.sobre-nosotros-extendido{
    padding: 40px 125px;

}

.sobre-nosotros-extendido h2{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: #075A58;
}

.sobre-nosotros-extendido span{
    font-style: italic;
}

.sobre-nosotros-extendido h3{
    font-size: 32px;
    text-align: start;
    max-width: 1000px;
    margin: 45px auto 60px auto;
}

.sobre-nosotros-extendido p{
    font-size: 24px;
}

.historia{
    font-weight: normal;
    font-size: 24px;
}

.historia span{
    font-weight: bold;
    font-style: normal;
}

.historia ul{
    margin-top: 1em;
    font-weight: 600;
}

.frase-1 h3{
    font-weight: normal;
    color: black;
    font-size: 36px;
    text-align: start;
    margin: 41px 0;
    max-width: 455px;
}

.frase-1 span{
    font-weight: bold;
    font-style: italic;
}

.frase-2 h3{
    font-weight: normal;
    color: black;
    font-size: 36px;
    text-align: start;
    margin: 41px 0;
    max-width: 706px;
}

.frase-2 span{
    font-weight: bold;
}
/* Media queries */

/* Mobile */

@media (max-width: 576px){

    body {
    font-size: 16px;
    }

    header{
    flex-direction: column;
    height: 60px;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    }

    header h2{
        text-align: center;
        font-size: 20px;
        overflow: hidden;
        margin: 0;
    }

    header .dropdown{
        display: flex;
        transform: scale(1.5);
        z-index: 2;
    }

    /* Oculta la flecha del dropdown */
    .dropdown-toggle::after{
        display: none;
    }
    /* Oculta la flecha del dropdown */

    .navbar-mentz{
        display: none;
    }

    .imagen-con-texto{
        height: 184px;
    }
    .imagen-con-texto h2{
        font-size: 32px;
        margin: 0 0 5px 0;

    }
    .imagen-con-texto h3{
        font-size: 16px;
        text-align: end;
        margin: 0;
    }

    .imagen-con-texto_catalogo{
        height: 187px;
    }
    
    .imagen-con-texto_catalogo h2{
        font-size: 32px;
    }


    .filtros{
        margin: 18px 0;
    }

    .filtros button:nth-child(3), .filtros button:nth-child(4){
        display: none;
    }
    
    .primary-filter-button{
        background-color: #075A58;
        border-color: #075A58;
        width: 130px;
        font-size: 14px;
        border-radius: 15px;
        margin-left: 18px;
    }

    .primary-filter-button:hover{
        background-color: #097c7a;
        border-color: #075A58;
    }

    .outline-filter-button{
        border-color: #075A58;
        color: #075A58;
        width: 130px;
        font-size: 14px;
        border-radius: 15px;
        margin-left: 18px;
    }


    main > h3{
        font-size: 20px;
        max-width: 285px;
        text-align: center;
        margin: 31px auto;
    }

    .rangos-juegos ul{
        padding: 0;
    }

    .rangos-juegos ul li img{
        height: 55px;
        width: 55px;
    }

    #rango-silver-cs2{
        width: 55px;
        height: auto;
    }

    .presentacion-productos{
        padding: 40px;
    }

    .presentacion-productos h2{
        font-size: 20px;
        margin: 0;
    }

    .presentacion-productos p{
        font-size: 16px;
        margin: 15px auto;
    }

    .productos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .productos img{
        width: 304px;
        height: 171px;
    }

    .productos h4{
        margin: 0;
        font-size: 20px;
        font-weight: bolder;
    }

    .productos-catalogo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        justify-items: center;
        align-items: center;
        gap: 0 50px;
        grid-template-areas: 
        "imagen-1 imagen-2"
        "texto-1 texto-2"
        "imagen-3 imagen-4"
        "texto-3 texto-4"
        "imagen-5 imagen-6"
        "texto-5 texto-6"
        ;

        margin: 0;
    }

    .productos-catalogo img{
        width: 125px;
    }

    .productos-catalogo a{
        font-size: 14px;;
    }


    .btn-primary_custom-class{
    background-color: #075A58;
    border-color: #075A58;
    width: 180px;
    }

    .presentacion-equipo{
        padding: 18px;
        margin: 0;
    }
    
    .presentacion-equipo h2{
        font-size: 24px;
        font-weight: bolder;
        max-width: 360px;
        margin: 0 0 25px 0;
    }
    .presentacion-equipo p{
        font-size: 16px;
        margin: 0 0 35px 0;
    }

    .presentacion-equipo >.btn-primary_custom-class{
    background-color: #075A58;
    border-color: #075A58;
    width: 200px;
    }

    .sobre-nosotros-extendido{
        padding: 18px;
    }

    .sobre-nosotros-extendido h2{
        font-size: 32px;
        margin-top: 38px;
        margin-bottom: 14px;
    }

    .sobre-nosotros-extendido h3{
        font-size: 20px;
        max-width: 404px;
        margin:0;
    }

    .sobre-nosotros-extendido p{
        font-size: 16px;
        margin-top: 25px;
    }

    .historia ul{
        font-size: 16px;
    }

    .frase-1 h3{
        font-size: 20px;
        margin-top: 25px;
        margin-bottom: 6px;
    }

    footer{
        height: 133px;
    }
    
    .newsletter h3{
        font-size: 14px;
    }

    .newsletter input[type=text]{
        height: 26px;
        width: 176px;
        font-size: 10px;
    }

    .newsletter input[type=submit]{
        width: 26px;
        height: 26px;
        font-size: 13px;
    }

    .social-media{
        align-self: center;
        justify-content: center;
    }

    .social-media ul{
        margin: 0;
    }

    .social-media svg{
        height: 30px;
        width: 30px;
    }


    .social-media h3, .social-media-linkedin, .social-media-youtube, .footer-eslogan{
        display: none;
    }

    
}